<!DOCTYPE html>
<html>
<head>
	<title>Quotes</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{message}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<p><a href="/">Logout</a></p>
	<h2>Welcome, {{user['alias']}}</h2>
	<h2>QUOTABLE QUOTES</h2>
	{% if quotable %}
		{% for quote in quotable %}
			<fieldset style="width:30%" display=inline-block>
				<p>{{quote['author']}} - "{{quote['content']}}"</p>
				<p>Posted by <a href="/users/{{quote['users_id']}}">{{quote['alias']}}</a></p>
				<form action="add_fav" method="post">
					<input type="hidden" name="users_id" value="{{quote['users_id']}}">
					<input type="submit" name="add_fav" value="Add to My Favorites">
				</form>
			</fieldset>
			<br>
		{% endfor %}
	{% endif %}

	<h3>Your Favorites:</h3>
	{% if show_favs %}
		{% for favorite in show_favs %}
		<fieldset style="width:30%" display=inline-block>
				<p>{{favorite['author']}} - "{{favorite['content']}}"</p>
				<button type="submit">Remove from My Favorites</button>
		</fieldset>
		<br>
		{% endfor %}
	{% endif %}

	<h3>Submit A Quote:</h3>
	<form action="/add_quote" method="post">
		<div>Quoted By: <input type="text" name="author"></div>
		<div>Content: <textarea name="content"></textarea></div>
		<div><input type="submit" name="submit"></div>
	</form>
		
			
</body>
</html>